@import './config.scss';
.header {
	height: 3rem;
	width: 100%;
	display: flex;

	.logo-box {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 10rem;
	}

	.nav {
		display: flex;
		width: 100%;
		background-color: $gray;
		border-radius: 5px;
		ul {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			padding-inline: 2rem;
			width: 100%;
			li {
				a {
					color: $accent-color;
					font-weight: 700;
					background-color: $main-color;
					text-decoration: none;
					border-radius: 5px;
					border: 2px solid black;
					display: block;
					width: auto;
					padding-block: 0.5rem;
					cursor: pointer;
					text-align: center;
				}
			}
		}
	}
}
#gavel {
	background-color: $gray;
	color: black;
	border: 1px solid black;
	width: 50%;
	margin: auto;
	// margin-top: -0.125rem;
}
