@import 'config.scss';

.judge__compare {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	padding-inline: 3rem;
	> button {
		margin: auto;
		padding-inline: 0.5rem;
		padding-block: 1rem;
		border-radius: 1rem;
		background: $accent-color;
	}
}

.search__button {
	min-width: 10rem;
}
.judge__select {
	width: 10rem;
	margin-inline: 3rem;
	margin-block: 2rem;
}
#centeringContainer {
	color: red;
	position: absolute;
}
